body{
	margin: 0;
	padding: 0;
}

button{
	z-index: 1;
	background-color: #E9EBEE;
	margin-left: 42vw;
	width: 15vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -5vw;
	position: absolute;
}