body{
	background-color: #E9EBEE;
	margin: 0;
	padding: 0;
}

.test{
	position: fixed;
}

#cab{
	width: 100vw;
	z-index: 2;
}

#apr{
	margin-top: 6vw;
	margin-left: 3vw;
	width: 22vw;
}

#feed{
	margin-top: 20vw;
	margin-left: 3vw;
	width: 22vw;
}

.noticia{
	margin-top: 5.85vw;
	margin-left: 26vw;
	width: 70vw;
}

.outro{
	margin-left: 26vw;
	width: 70vw;
}

.botoes1{
	margin-top: -6vw;
	padding-left: 35vw;
	z-index: 1;
	position: absolute;
}
.botoes2{
	margin-top: -648.5vw;
	padding-left: 35vw;
	z-index: 1;
	position: absolute;
}

.botoes3{
	margin-top: 61vw;
	padding-left: 35vw;
	z-index: 1;
	position: absolute;
}

#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
	background-color: white;
	margin-left: 1vw;
	width: 16vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.8vw;
	border: none;
	color: #000D2F;
}

#b10,#b11,#b12,#b13,#b14,#b15,#b16,#b17,#b18{
	background-color: white;
	margin-left: 1vw;
	width: 16vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.8vw;
	border: none;
	color: #000D2F;
}

#b19,#b20,#b21,#b22,#b23,#b24,#b25,#b26,#b27{
	background-color: white;
	margin-left: 1vw;
	width: 16vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.8vw;
	border: none;
	color: #000D2F;
}

#b28,#b29,#b30,#b31,#b32,#b33,#b34,#b35,#b36{
	background-color: white;
	margin-left: 1vw;
	width: 16vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.8vw;
	border: none;
	color: #000D2F;
}

#seta1{
	background-color: white;
	margin-left: 90vw;
	width: 3.5vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -612vw;
	position: absolute;
}

#seta2{
	background-color: white;
	margin-left: 90vw;
	width: 3.5vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -484vw;
	position: absolute;
}

#seta3{
	background-color: white;
	margin-left: 90vw;
	width: 3.5vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -420vw;
	position: absolute;
}

#seta4{
	background-color: white;
	margin-left: 90vw;
	width: 3.5vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -228vw;
	position: absolute;
}

#seta5{
	background-color: white;
	margin-left: 90vw;
	width: 3.5vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -163vw;
	position: absolute;
}

#seta6{
	background-color: white;
	margin-left: 90vw;
	width: 3.5vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: -35vw;
	position: absolute;
}

#final{
	background-color: white;
	margin-left: -55vw;
	width: 15vw;
	height: 3.5vw;
	font-family: Arial Bold, Helvetica, sans-serif;
	font-size: 1.7vw;
	border: none;
	color: #000D2F;
	margin-top: 65vw;
	position: absolute;
}
